<!DOCTYPE html>
<html>
<head>
  <title>Blocmetrics</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <div class="container">
      <ul class="nav nav-tabs">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", welcome_about_path %></li>
        <li><%= link_to "Applications", registered_applications_path %></li>
        
        <div class="pull-right user-info">
          <% if current_user %>
            Hi <%= current_user.name || current_user.email %>!
            <%= link_to "Edit Profile   ", edit_user_registration_path %> |
            <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
          <% elsif %>
            <%= link_to "Sign In  ", new_user_session_path %>|
            <%= link_to "Sign Up", new_user_registration_path %>
          <% end %>
        </div>
      </ul>
      
      <% if flash[:notice] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:error] %>
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="danger">&times;</button>
          <%= flash[:error] %>
        </div>  
      <% elsif flash[:alert] %>
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="warning">&times;</button>
          <%= flash[:alert] %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
